<div class="lsg-font-example">
  <p class="lsg-font-example-text" style="font: <%= font %>">
    <%= text %>
  </p>
  <pre class="lsg-code-block"><code class="lsg-code"><%= font %></code></pre>
</div>
