<section class="<%= classes.join(' ') %>" id="<%= id %>">
  <div class="livingstyleguide--html">
    <%= html %>
  </div>
  <pre class="livingstyleguide--code-block"><code class="livingstyleguide--code"><%=
    [:plain].index(type) ? source : ::MiniSyntax.highlight(ERB::Util.h(source), type)
  %></code></pre>
</section>
