<section class="<%= classes.join(' ') %>">
  <div class="livingstyleguide--html">
    <%= html %>
  </div>
  <pre class="livingstyleguide--code-block"><code class="livingstyleguide--code"><%=
    [:plain].index(type) ? source : ::MiniSyntax.highlight(source, type)
  %></code></pre>
</section>
