<section class="<%= classes.join(' ') %>">
  <div class="livingstyleguide--html">
    <%= html %>
  </div>
  <pre class="livingstyleguide--code-block">
    <code class="livingstyleguide--code">
      <%= source %>
    </code>
  </pre>
</section>
