<section class="<%= classes.join(' ') %>" id="<%= id %>">
  <script><%= html %></script>
  <pre class="livingstyleguide--code-block"><code class="livingstyleguide--code"><%= highlighted_source %></code></pre>
</section>
