$diamonds--item-size: 160px;
$diamonds--item-roteted-size: floor(sqrt(2 * pow($diamonds--item-size, 2)));
$diamonds--items: #FF96B5 #EF6991 #FF96B5 #F199B2 #EF6991,
                      #F4A7BE (#D0156E url("/images/diamonds--logo.svg") -130px -130px no-repeat) #F8AAC1 #E293AA,
                  #FF96B5 (#CA1F70 url("/images/diamonds--logo.svg") -130px 30px no-repeat) (#CA1B6E url("/images/diamonds--logo.svg") 30px -130px no-repeat) #FF96B5,
                      #EB83A2 (#C42872 url("/images/diamonds--logo.svg") 30px 30px no-repeat) #EF6991,
                  #FF96B5 #EF6991 #FF96B5,
                      #ECA2B8 #EE97B0,
                  #FF96B5 #E293AA,
                      #FF96B5,
                  #EF6991;

.diamonds {
  width: length(nth($diamonds--items, 1)) * $diamonds--item-roteted-size;
}


.diamonds--item {
  $margin: floor(($diamonds--item-roteted-size - $diamonds--item-size) / 2);
  float: left;
  height: $diamonds--item-size;
  margin: floor($diamonds--item-size / -2) $margin $margin;
  position: relative;
  width: $diamonds--item-size;

  &:after,
  &:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    @include transform(rotateZ(45deg) rotateX(180deg) rotateY(180deg));
  }

  &:after {
    @include transition(transform, 0.15s);
    @include backface-visibility(hidden);
    z-index: 3;
  }

  &:hover:after {
    @include transform(rotateZ(45deg) rotateX(0deg) rotateY(180deg));
  }

  $item-number: 0;
  $row-number: 0;
  @each $row in $diamonds--items {
    $first: true;
    $row-number: $row-number + 1;
    @each $item in $row {
      $item-number: $item-number + 1;
      &:nth-child(#{$item-number}) {
        @if $first {
          $first: false;
          clear: left;
          @if $row-number % 2 == 0 {
            margin-left: 0;
          }
          @else {
            margin-left: floor($diamonds--item-roteted-size / -2);
          }
        }
        &:after {
          background: $item;
        }
      }
    }
  }
}

.diamonds--item-version,
.diamonds--item-version-title,
.diamonds--item-changelog {
  color: $pink;
  position: relative;
  text-transform: uppercase;
  z-index: 4;
}

.diamonds--item-version-title,
.diamonds--item-changelog {
  cursor: pointer;
  margin: ($diamonds--item-size / 2 + 20px) 0 -3px;
  padding: 1px 5px 0;
}

.diamonds--item-version-title {
  @extend %display-inline-block;

  .diamonds--item:hover & {
    @extend %display-none;
  }
}

.diamonds--item-version {
  font-size: 24px;
  font-weight: bold;
}

.diamonds--item-changelog {
  @extend %display-none;

  .diamonds--item:hover & {
    @extend %display-inline-block;
  }

  &:hover {
    background: $pink;
    color: $white;
  }
}

.diamonds--item-tagline {
  color: #FFABC2;
  font-size: 18px;
  font-weight: bold;
  left: -53%;
  line-height: 1.1;
  position: absolute;
  right: -53%;
  top: 10px;
  z-index: 4;
  @include transition(transform, 0.15s);

  .diamonds--item:hover & {
    @include transform(scale(1.2));
  }
}

