$diamonds--item-size: 160px;
$diamonds--item-rotated-size: floor(sqrt(2 * pow($diamonds--item-size, 2)));
$a: -140px;
$b: 20px;
$diamonds--items: #FF96B5 #EF6991 #FF96B5 #F199B2 #EF6991 #EB83A2,
                      #F4A7BE #F8AAC1 (#D0156E url("/images/diamonds--logo.svg") $a $a no-repeat) #E293AA #EE97B0,
                  #FF96B5 (#CA1F70 url("/images/diamonds--logo.svg") $a $b no-repeat) (#CA1B6E url("/images/diamonds--logo.svg") $b $a no-repeat) #FF96B5,
                      #EB83A2 (#C42872 url("/images/diamonds--logo.svg") $b $b no-repeat) #F8AAC1,
                  #FF96B5 #F199B2,
                      #ECA2B8;

.diamonds {
  left: 50%;
  position: absolute;
  top: 0;
  width: length(nth($diamonds--items, 1)) * $diamonds--item-rotated-size;
  z-index: 1;
  @include transform-origin(0 0 0);
  @include transform(translateX(-50%));

  $last-max-width: 0;
  @for $i from 3 to 7 {
    $scale: $i / 5 - 0.3;
    $max-width: $i * 200px;
    @media all and (min-width: #{$last-max-width + 1px}) and (max-width: #{$max-width}) {
      @include transform(scale($scale) translateX(-50%));
    }
    $last-max-width: $max-width;
  }
}


.diamonds--item {
  $margin: floor(($diamonds--item-rotated-size - $diamonds--item-size) / 2);
  float: left;
  height: $diamonds--item-size;
  margin: floor($diamonds--item-size / -2) $margin $margin;
  text-align: center;
  position: relative;
  width: $diamonds--item-size;
  @include transition(transform, 0.5s);

  &:after,
  &:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    @include transform(rotateZ(45deg) rotateX(180deg) rotateY(180deg));
  }

  &:after {
    @include transition(transform, 0.15s);
    @include backface-visibility(hidden);
    z-index: 3;
  }

  &:hover:after {
    @include transform(rotateZ(45deg) rotateX(0deg) rotateY(180deg));
  }

  .-subpage- & {
    opacity: 0;

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(9),
    &:nth-child(13),
    &:nth-child(14),
    &:nth-child(17) {
      opacity: 1;
    }

    &:nth-child(9) {
      @include transform(scale(0.5));
      @include transform-origin(50% -33px 0);
    }

    &:nth-child(13) {
      @include transform(scale(0.5));
      @include transform-origin(193px -146px 0);
    }

    &:nth-child(14) {
      @include transform(scale(0.5));
      @include transform-origin(-33px -146px 0);
    }

    &:nth-child(17) {
      @include transform(scale(0.5));
      @include transform-origin(50% -259px 0);
    }
  }

  $item-number: 0;
  $row-number: 0;
  @each $row in $diamonds--items {
    $current-item-number: 0;
    $row-number: $row-number + 1;
    @each $item in $row {
      $item-number: $item-number + 1;
      $current-item-number: $current-item-number + 1;
      &:nth-child(#{$item-number}) {
        &:after {
          @if $current-item-number == 1 or $current-item-number == length(nth($diamonds--items, $row-number)) {
            background: scale-color(lighten($item, 10%), $lightness: 70%, $saturation: 70%);
            background: $item;
          }
          @else {
            background: $item;
          }
        }
        @if $current-item-number == 1 {
          clear: left;
          margin-left: floor($diamonds--item-rotated-size / 2 * ($row-number - 1) + $margin);
        }
      }
    }
  }
}

.diamonds--item-version,
.diamonds--item-version-title,
.diamonds--item-changelog {
  color: mix($pink, black, 80%);
  position: relative;
  text-transform: uppercase;
  z-index: 4;
}

.diamonds--item-version-title,
.diamonds--item-changelog {
  cursor: pointer;
  margin: ($diamonds--item-size / 2 + 20px) 0 -3px;
  padding: 1px 5px 0;
}

.diamonds--item-version-title {
  @extend %display-inline-block;

  .diamonds--item:hover & {
    @extend %display-none;
  }
}

.diamonds--item-version {
  font-size: 24px;
  font-weight: bold;
}

.diamonds--item-changelog {
  @extend %display-none;

  .diamonds--item:hover & {
    @extend %display-inline-block;
  }

  &:hover {
    background: $pink;
    color: $white;
  }
}

.diamonds--item-tagline {
  color: #FFABC2;
  font-size: 18px;
  font-weight: bold;
  left: -53%;
  line-height: 1.1;
  position: absolute;
  right: -53%;
  top: 10px;
  z-index: 4;
  @include transition(transform, 0.15s);

  .diamonds--item:hover & {
    @include transform(scale(1.2));
  }
}

