.layout {
  background: $white;
  color: $black;
  font-family: Gubia, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 4 * $grid;
  line-height: 1.25;
  margin: 0 0 5 * $grid;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}


.layout--container {
  margin: 59vw auto 0;
  max-width: 680px;
  position: relative;
  z-index: 2;
  @include transition(margin, 0.5s);

  @media all and (max-width: 700px) {
    margin-top: 155vw;
  }

  .-subpage- & {
    margin-top: 21vw;
  }
}

