.layout {
  background: $white;
  color: $black;
  font-family: gubia, helvetica neue, helvetica, arial, sans-serif;
  font-size: 4 * $grid;
  -webkit-font-smoothing: antialiased;
  line-height: 1.25;
  margin: 0 0 5 * $grid;
  text-align: center;
}

.layout--container {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.layout--content {
  margin: auto;
  max-width: 680px;
  position: relative;
  z-index: 2;
}
