.layout {
  background: $white;
  color: $black;
  font-family: Gubia, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 4 * $grid;
  line-height: 1.25;
  margin: 0 0 5 * $grid;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}


.layout--container {
  margin: 59vw auto 0;
  position: relative;
  width: 680px;
  z-index: 2;
}

