$links--item-size: 120px;


.links {
}

.links--item {
  color: $black;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  height: $links--item-size;
  margin: 0;
  text-align: left;
  padding: 5 * $grid 0;
  position: relative;
  text-align: center;
  width: $links--item-size;
  z-index: 1;
  @include transition(all 0, background 0.2s);

  &:hover {
    z-index: 5;
  }

  &:after {
    background: $yellow;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    @include transform(rotateZ(45deg));
    @include transition(transform, 0.15s);
  }

  &:hover:after {
    background: $turquoise;
    @include transform(rotateZ(-315deg));
  }

  &:before {
    content: "";
    display: block;
    margin: -20px -15px 0;
    vertical-align: middle;
    z-index: 10;
    @include graphics-sprite(rubygems, $dimensions: true);
    @include transition(transform, 0.15s);
    @include for-hires {
      background-image: $graphics-2x-sprites;
    }
  }

  &:hover:before {
    @include transform(rotateZ(360deg));
  }

  $margin-right: 0;
  @each $name in issues, twitter, example-project {
    &.-#{$name} {
      margin-right: $margin-right;
      $margin-right: $margin-right + floor($links--item-size / 2);

      &:before {
        @include graphics-sprite-position($name);
      }
    }
  }
}

