.markdown {
  @extend %text-align-left;

  h1 {
    color: $turquoise;
    font-size: 3em;
    margin: 0 0 0.5em;
  }

  h2 {
    color: $pink;
    font-size: 2em;
    margin: 0 0 0.5em;
  }

  p {
    margin: 0 0 0.75em;
  }

  a {
    color: darken($turquoise, 20%);
    display: inline;

    &:hover {
      color: darken($turquoise, 30%);
    }
  }

  strong {
    @extend %display-inline;
    @extend %font-weight-bold;
  }

  em {
    @extend %display-inline;
    @extend %font-style-italic;
  }

  ul {
    margin: 0 0 0.75em;

    li {
      margin-left: 3em;

      &:before {
        background: $yellow;
        content: "";
        height: 6px;
        margin: 0.35em 0 0 -0.9em;
        position: absolute;
        width: 6px;
        @include transform(rotateZ(45deg));
      }
    }
  }

  code {
    background: $yellow;
    display: inline;
    font-family: "courier new", courier, monospace;
  }
}

