$lsg-color: $black;
$lsg-background-color: $white;
$lsg-width: 600px;
$lsg-gutter: 20px;
$lsg-border-radius: 0;
$lsg-layout-selector: ".layout";
$lsg-font-family: gubia, helvetica neue, helvetica, arial;
$lsg-font-size: 13px;
$lsg-font-weight: normal;
$lsg-line-height: 1.1;
$lsg-text-align: left;
$lsg-link-color: $turquoise;

$lsg-code-background: mix(white, $turquoise, 90%);
$lsg-code-background-color: mix(white, $turquoise, 90%);
$lsg-code-color: $pink;
$lsg-code-font-family: courier new, courier, monospace;
$lsg-code-font-size: 13px;
$lsg-code-border-radius: 0;
$lsg-code-line-height: 1.1;
$lsg-code-font-weight: normal;
$lsg-code-padding: $lsg-gutter;

$lsg-highlight-background-color: $yellow;
$lsg-highlight-color: $pink;
$lsg-highlight-border-radius: 0;

$lsg-headline-font-family: gubia, helvetica neue, helvetica, arial;
$lsg-headline-font-size: 36px;
$lsg-headline-font-weight: bold;
$lsg-headline-line-height: 1.3;
$lsg-headline-text-align: center;

$lsg-page-title-font-size: 44px;

$lsg-sub-headline-font-size: 22px;

$lsg-sub-sub-headline-font-size: 16px;

$lsg-full-width-padding: 0;

$lsg-button-width: 23px;
$lsg-button-height: 23px;

$lsg-copy-background-image: none;

$lsg-example-background: $turquoise;
$lsg-example-padding: $lsg-gutter;

$lsg-font-example-first-line: 4em;

@import "livingstyleguide";

.markdown {
  max-width: $lsg-width + 2 * 40px;
  padding: 40px;
  text-align: left;

  a {
    color: darken($turquoise, 20%);
    display: inline;

    &:hover {
      color: darken($turquoise, 30%);
    }
  }

  strong {
    @extend %display-inline;
    @extend %font-weight-bold;
  }

  em {
    @extend %display-inline;
    @extend %font-weight-bold;
  }

  .lsg-headline {
    font-size: 3em;
    margin: 0 0 0.5em;
    width: auto;
  }

  .lsg-sub-headline {
    font-size: 2em;
    margin: 1.5em 0 0.5em;
    width: auto;
  }

  p,
  .lsg-paragraph,
  .lsg-ordered-list,
  .lsg-ordered-list-item,
  .lsg-unordered-list,
  .lsg-unordered-list-item {
    font-family: source sans pro, arial, helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 0 0.75em;
    width: auto;
  }

  .lsg-unordered-list {
    counter-reset: ul;
    margin: 0 0 0.75em;
  }

  .lsg-ordered-list-item,
  .lsg-unordered-list-item {
    list-style: none;
    margin-left: 3em;
  }

  .lsg-unordered-list-item {
    &::before {
      background: $turquoise;
      content: "";
      height: 6px;
      margin: 0.7em 0 0 -0.9em;
      position: absolute;
      width: 6px;
      @include transform(rotateZ(45deg));
    }
  }

  .lsg-ordered-list-item {
    counter-increment: ul;

    &::before {
      background: $lsg-code-background-color;
      color: $turquoise;
      content: counter(ul);
      font-size: 0.8em;
      font-weight: bold;
      height: 1.3em;
      line-height: 1.25em;
      margin: 0.4em 0 0 -1.7em;
      position: absolute;
      text-align: center;
      width: 1.3em;
    }
  }

  .lsg-code-span {
    background: mix($pink, $white, 3%);
    border-radius: 4px;
    display: inline;
    font-family: courier new, monospace;
    font-size: inherit;
    padding: 0 4px;
  }

  .lsg-code-block {
    background: $lsg-code-background-color;
    margin: 0;
    padding: $lsg-gutter;
  }

  .lsg-example {
    margin: $lsg-gutter 0;
    padding: 0;
  }

  .lsg-container {
    min-height: 0;
  }

  .lsg-code-highlight {
    font-weight: inherit;
  }

  .lsg-html {
    background: $lsg-code-background-color;
    display: block;
    padding: 20px 20px 0;
  }
}
