$livingstyleguide--color: $black;
$livingstyleguide--code-background-color: #F3D5DE;
$livingstyleguide--code-color: $pink;
$livingstyleguide--code-font: "courier new", courier, monospace;
$livingstyleguide--base-font-size: 13px;
$livingstyleguide--base-font-weight: normal;
$livingstyleguide--base-line-height: 1.1;
$livingstyleguide--base-text-align: left;
$livingstyleguide--code-font-size: 13px;
$livingstyleguide--code-border-radius: 0;
$livingstyleguide--code-line-height: 1.1;
$livingstyleguide--code-font-weight: normal;
$livingstyleguide--width: 600px;
$livingstyleguide--gap-width: 20px;
$livingstyleguide--highlight-color: $light-pink;
$livingstyleguide--highlight-border-radius: 0;
$livingstyleguide--base-font: Gubia, "Helvetica Neue", Helvetica, Arial;
$livingstyleguide--headline-font: Gubia, "Helvetica Neue", Helvetica, Arial;
$livingstyleguide--headline-font-size: 36px;
$livingstyleguide--headline-font-weight: bold;
$livingstyleguide--headline-line-height: 1.3;
$livingstyleguide--headline-text-align: center;
$livingstyleguide--page-title-font-size: 44px;
$livingstyleguide--sub-headline-font-size: 22px;
$livingstyleguide--sub-sub-headline-font-size: 16px;
$livingstyleguide--border-radius: 0;
$livingstyleguide--layout-selector: ".layout";
$livingstyleguide--full-width-padding: 0;

@import "livingstyleguide/reset";
@import "livingstyleguide/content";
@import "livingstyleguide/code";

.markdown {
  padding: 40px;
  overflow: hidden;
  text-align: left;
  width: $livingstyleguide--width + 2 * 40px;

  a {
    color: darken($turquoise, 20%);
    display: inline;

    &:hover {
      color: darken($turquoise, 30%);
    }
  }

  strong {
    @extend %display-inline;
    @extend %font-weight-bold;
  }

  em {
    @extend %display-inline;
    @extend %font-weight-bold;
  }

  .livingstyleguide--headline {
    font-size: 3em;
    margin: 0 0 0.5em;
  }

  .livingstyleguide--sub-headline {
    font-size: 2em;
    margin: 1.5em 0 0.5em;
  }

  p,
  .livingstyleguide--paragraph,
  .livingstyleguide--unordered-list,
  .livingstyleguide--unordered-list-item {
    font-size: 18px;
    font-family: 'source sans pro', 'arial', 'helvetica', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 0 0.75em;
  }

  .livingstyleguide--unordered-list {
    margin: 0 0 0.75em;
  }

  .livingstyleguide--unordered-list-item {
    margin-left: 3em;

    &:before {
      background: $yellow;
      content: "";
      height: 6px;
      margin: 0.55em 0 0 -0.9em;
      position: absolute;
      width: 6px;
      @include transform(rotateZ(45deg));
    }
  }

  .livingstyleguide--code {
    background: mix($pink, $white, 3%);
    border-radius: 4px;
    display: inline;
    font-family: 'courier new', monospace;
    font-size: inherit;
    padding: 0 4px;
  }

  .livingstyleguide--code-block {
    margin-left: -6px;
    margin-right: -6px;
  }
}

