.social-buttons {
  display: block;
  height: 66px;
  margin: 20px auto;
  text-align: center;
}

.social-buttons--item {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  width: 61px;

  a {
    display: inline;
  }

  // scss-lint:disable ImportantRule
  iframe {
    width: inherit !important;
  }
}
