//// INTEGRATION ////

$livingstyleguide--layout-selector: body !default;

//// TYPOGRAPHY ////

$livingstyleguide--base-font: 'Georgia', 'Times New Roman', serif !default;
$livingstyleguide--base-font-size: 14px !default;
$livingstyleguide--base-font-weight: normal !default;
$livingstyleguide--base-line-height: 1.4 !default;
$livingstyleguide--headline-font: $livingstyleguide--base-font !default;
$livingstyleguide--page-title-font-size: 30px !default;
$livingstyleguide--headline-font-size: 22px !default;
$livingstyleguide--sub-headline-font-size: 16px !default;
$livingstyleguide--sub-sub-headline-font-size: $livingstyleguide--base-font-size !default;
$livingstyleguide--headline-font-weight: bold !default;
$livingstyleguide--headline-line-height: 1.1 !default;
$livingstyleguide--code-font: Courier, "Courier New", monospace !default;
$livingstyleguide--code-font-size: 12px !default;
$livingstyleguide--code-font-weight: normal !default;
$livingstyleguide--code-line-height: 1.5 !default;

//// STYLING ////

$livingstyleguide--background-color: #f7f7f7 !default;
$livingstyleguide--border-width: 1px !default;
$livingstyleguide--border-color: silver !default;
$livingstyleguide--border-radius: 0 !default;
$livingstyleguide--color: #505050 !default;
$livingstyleguide--width: 640px !default;
$livingstyleguide--gap-width: 10px !default;
$livingstyleguide--full-width-padding: $livingstyleguide--gap-width !default;

$livingstyleguide--code-background-color: #dddddd !default;
$livingstyleguide--code-color: #505050 !default;
$livingstyleguide--code-border-width: $livingstyleguide--border-width !default;
$livingstyleguide--code-border-color: $livingstyleguide--border-color !default;
$livingstyleguide--code-border-radius: $livingstyleguide--border-radius !default;

$livingstyleguide--color-swatch-color: black !default;
$livingstyleguide--color-swatch-border-width: 4px !default;
$livingstyleguide--color-swatch-border-color: rgba(black, 0.05) !default;
$livingstyleguide--color-swatch-border-radius: 50% !default;
$livingstyleguide--color-swatches-per-line: 2 !default;

$livingstyleguide--highlight-color: #f6ffa3 !default;
$livingstyleguide--highlight-border-radius: 2px;

//// RESET ////

%livingstyleguide--reset {
  background: transparent;
  border: none;
  border-collapse: collapse;
  border-radius: 0;
  border-spacing: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  vertical-align: baseline;
}

//// IMPORTS ////

@import "livingstyleguide/layout";
@import "livingstyleguide/content";
@import "livingstyleguide/code";
@import "livingstyleguide/color-swatches";
