//// INTEGRATION ////

$lsg--layout-selector: body !default;

//// TYPOGRAPHY ////

$lsg--base-font: 'Georgia', 'Times New Roman', serif !default;
$lsg--base-font-size: 14px !default;
$lsg--base-font-weight: normal !default;
$lsg--base-line-height: 1.4 !default;
$lsg--base-text-align: left !default;
$lsg--page-title-font-size: 30px !default;
$lsg--headline-font: $lsg--base-font !default;
$lsg--headline-font-size: 22px !default;
$lsg--headline-text-align: left !default;
$lsg--sub-headline-font-size: 16px !default;
$lsg--sub-sub-headline-font-size: $lsg--base-font-size !default;
$lsg--headline-font-weight: bold !default;
$lsg--headline-line-height: 1.1 !default;
$lsg--code-font: Courier, "Courier New", monospace !default;
$lsg--code-font-size: 12px !default;
$lsg--code-font-weight: normal !default;
$lsg--code-line-height: 1.5 !default;

//// STYLING ////

$lsg--background-color: #f7f7f7 !default;
$lsg--border-width: 1px !default;
$lsg--border-color: silver !default;
$lsg--border-radius: 0 !default;
$lsg--color: #505050 !default;
$lsg--width: 640px !default;
$lsg--gap-width: 10px !default;
$lsg--full-width-padding: $lsg--gap-width !default;

$lsg--code-background-color: #dddddd !default;
$lsg--code-color: #505050 !default;
$lsg--code-border-width: $lsg--border-width !default;
$lsg--code-border-color: $lsg--border-color !default;
$lsg--code-border-radius: $lsg--border-radius !default;

$lsg--color-swatch-color: black !default;
$lsg--color-swatch-border-width: 4px !default;
$lsg--color-swatch-border-color: rgba(black, 0.05) !default;
$lsg--color-swatch-border-radius: 50% !default;
$lsg--color-swatches-per-line: 2 !default;

$lsg--highlight-color: #f6ffa3 !default;
$lsg--highlight-border-radius: 2px;

//// IMAGES - SVG ////

$lsg--copy-background-image:url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%' height='100%' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'> <path id='copy-6-icon' d='M360.277,151.999V50.001H50v310.137h102v101.861h310v-310H360.277z M90,320.138V90.001h230.277v61.998 H152v168.139H90z M421.5,421.499h-230V191.832h20.569c10.639,0,20.745,4.656,27.657,12.744l19.023,22.256H358l19.366-22.408 c6.911-7.996,16.958-12.592,27.528-12.592H421.5V421.499z M379.479,338.581h-145.99v-29h145.99V338.581z M379.479,286.249h-145.99 v-29h145.99V286.249z M233.488,361.999h146.023v29H233.488V361.999z'/></svg>");

//// BUTTONS ////

$lsg--button-height: 23px !default;
$lsg--button-width: $lsg--button-height !default;

//// IMPORTS ////

@import "livingstyleguide/reset";
@import "livingstyleguide/layout";
@import "livingstyleguide/content";
@import "livingstyleguide/code";
@import "livingstyleguide/color-swatches";
@import "livingstyleguide/search";
@import "livingstyleguide/variables";
