//// INTEGRATION ////

$lsg--layout-selector: body !default;

//// TYPOGRAPHY ////

$lsg--base-font: 'Georgia', 'Times New Roman', serif !default;
$lsg--base-font-size: 14px !default;
$lsg--base-font-weight: normal !default;
$lsg--base-line-height: 1.4 !default;
$lsg--base-text-align: left !default;
$lsg--page-title-font-size: 30px !default;
$lsg--headline-font: $lsg--base-font !default;
$lsg--headline-font-size: 22px !default;
$lsg--headline-text-align: left !default;
$lsg--sub-headline-font-size: 16px !default;
$lsg--sub-sub-headline-font-size: $lsg--base-font-size !default;
$lsg--headline-font-weight: bold !default;
$lsg--headline-line-height: 1.1 !default;
$lsg--code-font: Courier, "Courier New", monospace !default;
$lsg--code-font-size: 12px !default;
$lsg--code-font-weight: normal !default;
$lsg--code-line-height: 1.5 !default;

//// STYLING ////

$lsg--background-color: #f7f7f7 !default;
$lsg--border-width: 1px !default;
$lsg--border-color: silver !default;
$lsg--border-radius: 0 !default;
$lsg--color: #505050 !default;
$lsg--width: 640px !default;
$lsg--gap-width: 10px !default;
$lsg--full-width-padding: $lsg--gap-width !default;

$lsg--code-background-color: #dddddd !default;
$lsg--code-color: #505050 !default;
$lsg--code-border-width: $lsg--border-width !default;
$lsg--code-border-color: $lsg--border-color !default;
$lsg--code-border-radius: $lsg--border-radius !default;

$lsg--color-swatch-color: black !default;
$lsg--color-swatch-border-width: 4px !default;
$lsg--color-swatch-border-color: rgba(black, 0.05) !default;
$lsg--color-swatch-border-radius: 50% !default;
$lsg--color-swatches-per-line: 2 !default;

$lsg--highlight-color: #f6ffa3 !default;
$lsg--highlight-border-radius: 2px;

//// IMPORTS ////

@import "livingstyleguide/reset";
@import "livingstyleguide/layout";
@import "livingstyleguide/content";
@import "livingstyleguide/code";
@import "livingstyleguide/color-swatches";
@import "livingstyleguide/search.scss";
@import "livingstyleguide/variables";
