.lsg--code {
  @extend %lsg--reset;
}

.lsg--code-span,
.lsg--code-block {
  @extend %lsg--reset;
  background: $lsg--code-background-color;
  border-radius: $lsg--code-border-radius;
  color: $lsg--code-color;
  display: inline;
  font-family: $lsg--code-font;
  font-size: $lsg--code-font-size;
  font-weight: $lsg--code-font-weight;
  overflow: scroll;
  padding: 0 3px;
  -webkit-font-smoothing: subpixel-antialiased;

  kbd {
    @extend %lsg--reset;
    display: block;
    font-weight: bold;

    &:before {
      content: "> ";
    }
  }

  em {
    @extend %lsg--reset;
    color: lighten($lsg--code-color, 10%);
    display: inline;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: baseline;
  }

  b {
    @extend %lsg--reset;
    color: lighten($lsg--code-color, 20%);
    display: inline;
    font-weight: bold;
    vertical-align: baseline;
  }

  i {
    @extend %lsg--reset;
    color: lighten($lsg--code-color, 30%);
    display: inline;
    vertical-align: baseline;
  }

  q {
    @extend %lsg--reset;
    color: lighten($lsg--code-color, 30%);
    display: inline;
    vertical-align: baseline;

    &:before,
    &:after {
      content: "";
    }
  }

  var {
    @extend %lsg--reset;
    display: inline;
    text-decoration: underline;
    vertical-align: baseline;
  }
}

.lsg--code-block {
  display: block;//none;
  line-height: $lsg--code-line-height;
  padding: 3px $lsg--gap-width;
  max-width: $lsg--width;

  .show-code & {
    display: block;
  }
}

.lsg--example + .lsg--code-block {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.lsg--layout-example + .lsg--code-block {
  background: $lsg--code-background-color;
  border-radius: 0;
  margin: 0 0 $lsg--gap-width;
  padding: $lsg--gap-width 0;
  width: 100%;

  .lsg--code {
    display: block;
    margin: auto;
    max-width: $lsg--width;
  }
}

.lsg--font-example {
  @extend .lsg--example;
}

.lsg--code-highlight {
  @extend %lsg--reset;
  background-color: $lsg--highlight-color;
  border-radius: $lsg--highlight-border-radius;
  display: inline;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
}

.lsg--code-highlight-block {
  @extend %lsg--reset;
  @extend .lsg--code-highlight;
  display: block;
}

