.lsg--color-swatch {
  @extend %lsg--reset;
  color: $lsg--color-swatch-color;
  float: left;
  font-family: $lsg--code-font;
  font-size: $lsg--code-font-size;
  font-weight: bold;
  height: 4em * $lsg--base-line-height;
  line-height: 1em * $lsg--base-line-height;
  list-style: none;
  margin: 0 $lsg--gap-width $lsg--gap-width 0;
  position: relative;
  text-align: center;
  z-index: 1;

  &:before {
    @extend %lsg--reset;
    border: $lsg--color-swatch-border-width $lsg--color-swatch-border-color solid;
    border-radius: $lsg--color-swatch-border-radius;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &:hover:before {
    cursor: pointer;
    color: black
  }
  &:after {
    cursor: pointer;
    display: block;
    font-weight: normal;
    text-align: center;
  }

  &.-lsg-empty {
    overflow: hidden;
    text-align: left;
    text-indent: -119988px;

    &:before,
    &:after {
      display: none;
    }
  }
}

.lsg--copy-color {
  background: $lsg--background-color;
  border-radius: $lsg--border-radius;
  color: $lsg--color;
  cursor: pointer;
  font-family: $lsg--base-font;
  font-size: 0.8em;
  left: 0;
  line-height: 1.2em;
  padding: 3px 0;
  position: absolute;
  visibility: hidden;
  white-space: pre-wrap;
  width: 100%;
  z-index: 1;

  .lsg--color-swatch:hover & {
    visibility: visible;
  }
}

.lsg--color-swatches {
  @extend %lsg--reset;
  margin: $lsg--gap-width auto (-$lsg--gap-width);
  max-width: $lsg--width + 2 * $lsg--gap-width;
  overflow: hidden;
  padding-left: $lsg--gap-width;
}

@for $i from 1 through 12 {
  .lsg--color-swatches.-lsg-#{$i}-columns .lsg--color-swatch {
    $size: floor(($lsg--width - ($i - 1) * $lsg--gap-width) / $i);
    height: $size;
    padding-top: $size / 2 + ($size / 5 - 20px);
    width: $size;
  }
}
