.livingstyleguide--color-swatch {
  @extend %livingstyleguide--reset;
  color: $livingstyleguide--color-swatch-color;
  float: left;
  font-family: $livingstyleguide--code-font;
  font-size: $livingstyleguide--code-font-size;
  font-weight: bold;
  height: 4em * $livingstyleguide--base-line-height;
  line-height: 1em * $livingstyleguide--base-line-height;
  list-style: none;
  margin: 0 $livingstyleguide--gap-width $livingstyleguide--gap-width 0;
  position: relative;
  text-align: center;
  z-index: 1;

  &:before {
    @extend %livingstyleguide--reset;
    border: $livingstyleguide--color-swatch-border-width $livingstyleguide--color-swatch-border-color solid;
    border-radius: $livingstyleguide--color-swatch-border-radius;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &:after {
    display: block;
    font-weight: normal;
    text-align: center;
  }
}

.livingstyleguide--color-swatches {
  @extend %livingstyleguide--reset;
  margin: $livingstyleguide--gap-width auto (-$livingstyleguide--gap-width) auto;
  overflow: hidden;
  padding-left: $livingstyleguide--gap-width;
  width: $livingstyleguide--width + 2 * $livingstyleguide--gap-width;
}

@for $i from 1 through 12 {
  .livingstyleguide--color-swatches.-lsg-#{$i}-columns .livingstyleguide--color-swatch {
    $size: floor(($livingstyleguide--width - ($i - 1) * $livingstyleguide--gap-width) / $i);
    height: $size;
    padding-top: $size / 2 + ($size / 5 - 20px);
    width: $size;
  }
}

.livingstyleguide--color-swatch.-lsg-empty {
  overflow: hidden;
  text-align: left;
  text-indent: -119988px;

  &:before,
  &:after {
    display: none;
  }
}

