%livingstyleguide--color-swatch {
  color: $livingstyleguide--color-swatch-color;
  display: block;
  float: left;
  font-family: $livingstyleguide--code-font;
  font-size: $livingstyleguide--code-font-size;
  font-weight: bold;
  height: 4em * $livingstyleguide--base-line-height;
  line-height: 1em * $livingstyleguide--base-line-height;
  list-style: none;
  margin: 0 $livingstyleguide--gap-width $livingstyleguide--gap-width 0;
  position: relative;
  text-align: center;
  z-index: 1;
  @include box-sizing(border-box);

  &:before {
    border: $livingstyleguide--color-swatch-border-width $livingstyleguide--color-swatch-border-color solid;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    @include border-radius($livingstyleguide--color-swatch-border-radius);
    @include box-sizing(border-box);
  }

  &:after {
    display: block;
    font-weight: normal;
    text-align: center;
  }
}

.livingstyleguide--color-swatches {
  display: block;
  margin: $livingstyleguide--gap-width auto (-$livingstyleguide--gap-width) auto;
  padding-left: $livingstyleguide--gap-width;
  width: $livingstyleguide--width + 2 * $livingstyleguide--gap-width;
  @include clearfix;
  @include box-sizing(border-box);
}

@for $i from 1 through 12 {
  .livingstyleguide--color-swatches.-lsg-#{$i}-columns .livingstyleguide--color-swatch {
    $size: floor(($livingstyleguide--width - ($i - 1) * $livingstyleguide--gap-width) / $i);
    height: $size;
    padding-top: $size / 2 + ($size / 5 - 20px);
    width: $size;
  }
}

