.livingstyleguide--paragraph,
.livingstyleguide--code-block,
.livingstyleguide--unordered-list,
.livingstyleguide--ordered-list {
  color: $livingstyleguide--color;
  display: block;
  font-family: $livingstyleguide--base-font;
  font-size: $livingstyleguide--base-font-size;
  font-weight: $livingstyleguide--base-font-weight;
  line-height: $livingstyleguide--base-line-height;
  margin: $livingstyleguide--gap-width auto;
  width: $livingstyleguide--width;
  -webkit-font-smoothing: antialiased;
  @include box-sizing(border-box);
}

.livingstyleguide--unordered-list-item,
.livingstyleguide--ordered-list-item {
  display: block;
  list-style: disc;
  margin: ceil($livingstyleguide--gap-width / 2) 0 ceil($livingstyleguide--gap-width / 2) (2 * $livingstyleguide--gap-width);
}

.livingstyleguide--page-title,
.livingstyleguide--headline,
.livingstyleguide--sub-headline,
.livingstyleguide--sub-sub-headline {
  color: $livingstyleguide--color;
  display: block;
  font-family: $livingstyleguide--headline-font;
  font-size: $livingstyleguide--headline-font-size;
  font-weight: $livingstyleguide--headline-font-weight;
  line-height: $livingstyleguide--headline-line-height;
  margin: (3 * $livingstyleguide--gap-width) auto $livingstyleguide--gap-width;
  width: $livingstyleguide--width;
  -webkit-font-smoothing: antialiased;
}

.livingstyleguide--anchor {
  color: inherit;
  margin-left: -1em;
  position: absolute;
  text-decoration: none;
  width: 1em;
  @include opacity(0);

  .livingstyleguide--headline:hover &,
  .livingstyleguide--sub-headline:hover &,
  .livingstyleguide--sub-sub-headline:hover & {
    @include opacity(0.5);

    &:hover {
      @include opacity(1);
    }
  }

  &:before {
    content: "#";
  }
}

.livingstyleguide--page-title {
  display: block;
  font-size: $livingstyleguide--page-title-font-size;
}

.livingstyleguide--sub-headline {
  display: block;
  font-size: $livingstyleguide--sub-headline-font-size;
}

.livingstyleguide--sub-sub-headline {
  display: block;
  font-size: $livingstyleguide--sub-sub-headline-font-size;
}

.livingstyleguide--example {
  background: white;
  display: block;
  margin: $livingstyleguide--gap-width auto 0;
  overflow: hidden;
  padding: $livingstyleguide--gap-width;
  position: relative;
  width: $livingstyleguide--width;
  @include box-sizing(border-box);
  @include border-top-radius($livingstyleguide--border-radius);

  &.-lsg-has-full-width {
    @extend #{$livingstyleguide--layout-selector} !optional;
    display: block;
    height: auto;
    margin: 0 auto;
    min-height: auto;
    padding: $livingstyleguide--full-width-padding;
    width: 100%;
    @include border-radius(0);
  }

  &.-lsg-for-javascript {
    display: none;
  }
}
