.lsg--paragraph,
.lsg--code-block,
.lsg--unordered-list,
.lsg--ordered-list {
  @extend %lsg--reset;
  color: $lsg--color;
  font-family: $lsg--base-font;
  font-size: $lsg--base-font-size;
  font-weight: $lsg--base-font-weight;
  line-height: $lsg--base-line-height;
  margin: $lsg--gap-width auto;
  text-align: $lsg--base-text-align;
  max-width: $lsg--width;
  -webkit-font-smoothing: antialiased;
}

.lsg--unordered-list-item,
.lsg--ordered-list-item {
  @extend %lsg--reset;
  display: list-item;
  list-style: disc;
  margin: ceil($lsg--gap-width / 2) 0 ceil($lsg--gap-width / 2) (2 * $lsg--gap-width);
}

.lsg--page-title,
.lsg--headline,
.lsg--sub-headline,
.lsg--sub-sub-headline {
  @extend %lsg--reset;
  color: $lsg--color;
  display: block;
  font-family: $lsg--headline-font;
  font-size: $lsg--headline-font-size;
  font-weight: $lsg--headline-font-weight;
  line-height: $lsg--headline-line-height;
  margin: (3 * $lsg--gap-width) auto $lsg--gap-width;
  text-align: $lsg--headline-text-align;
  max-width: $lsg--width;
  -webkit-font-smoothing: antialiased;
}

.lsg--anchor {
  @extend %lsg--reset;
  color: inherit;
  display: inline;
  margin-left: -1em;
  opacity: 0;
  position: absolute;
  text-decoration: none;
  width: 1em;

  .lsg--headline:hover &,
  .lsg--sub-headline:hover &,
  .lsg--sub-sub-headline:hover & {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &:before {
    content: "#";
  }
}

.lsg--page-title {
  display: block;
  font-size: $lsg--page-title-font-size;
}

.lsg--sub-headline {
  display: block;
  font-size: $lsg--sub-headline-font-size;
}

.lsg--sub-sub-headline {
  display: block;
  font-size: $lsg--sub-sub-headline-font-size;
}

.lsg--example {
  @extend %lsg--reset;
  background: white;
  border-top-left-radius: $lsg--border-radius;
  border-top-right-radius: $lsg--border-radius;
  display: block;
  margin: $lsg--gap-width auto 0;
  overflow: hidden;
  padding: $lsg--gap-width;
  position: relative;
  max-width: $lsg--width;

  &.-lsg-has-full-width {
    @extend #{$lsg--layout-selector} !optional;
    border-radius: 0;
    display: block;
    height: auto;
    margin: 0 auto;
    min-height: auto;
    padding: $lsg--full-width-padding;
    width: 100%;
  }

  &.-lsg-for-javascript {
    display: none;
  }

  .lsg--code-block {
    margin-bottom: -$lsg--gap-width;
    margin-left: -$lsg--gap-width;
    margin-right: -$lsg--gap-width;
  }
}
