@function lsg--striped($color-a, $color-b: transparent, $size: 4px, $width: 25%) {
  @return linear-gradient(to top left,
      $color-a $width,
      $color-b 0, 50%,
      $color-a 0, (50% + $width),
      $color-b 0)
    repeat 0 0/#{$size} #{$size};
}

@function lsg--str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
            lsg--str-replace(
              str-slice($string, $index + str-length($search)),
              $search, $replace
            );
  }

  @return $string;
}

$lsg--escapes: ("(": "\\(", ")": "\\)", "$": "\\$", "#": "\\#");

@function lsg--escape-selector($selector) {
  @each $before, $after in $lsg--escapes {
    $selector: lsg--str-replace($selector, $before, $after);
  }
  @return $selector;
}
