.lsg-search-box {
  -webkit-appearance: none;
  background: $lsg-code-background;
  border: 0;
  border-radius: $lsg-border-radius;
  color: $lsg-code-color;
  display: block;
  font-family: $lsg-headline-font-family;
  font-size: $lsg-sub-headline-font-size;
  line-height: inherit;
  margin: (2 * $lsg-gutter) auto;
  max-width: $lsg-width;
  outline: 0;
  padding: $lsg-gutter;
  width: 100%;

  $lsg-placeholder-color: mix($lsg-code-background, $lsg-code-color, 67%);

  // scss-lint:disable VendorPrefix
  &::-moz-placeholder {
    color: $lsg-placeholder-color;
  }

  &::-webkit-input-placeholder {
    color: $lsg-placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $lsg-placeholder-color;
  }

  &::placeholder {
    color: $lsg-placeholder-color;
  }
}
