$livingstyleguide--variables: () !default;

@each $variable, $value in $livingstyleguide--variables {
  $value: null !default;
  @if $value != null {
    $selector: $variable;
    @if str-slice($variable, 1, 1) == "$" or str-slice($variable, 1, 1) == "#" {
      $selector: "\\" + $selector;
    }
    @if str-slice($variable, -2, -1) == "()" {
      $selector: str-slice($variable, 1, -3) + "\\(\\)";
    }
    .#{$selector} {
      @if type-of($value) == color {
        @if (lightness($value) < lightness($livingstyleguide--color)) {
          color: $livingstyleguide--background-color;
        }

        &:before {
          background: $value;
        }
      }

      &:after {
        @extend %livingstyleguide--code !optional;
        content: "#{inspect($value)}";
      }
    }
  }
}
