$lsg--variables: () !default;

@each $variable, $value in $lsg--variables {
  $value: null !default;

  @if $value != null {
    $selector: lsg--escape-selector($variable);

    .#{$selector} {
      @if type-of($value) == color {
        @if (lightness($value) < 50%) {
          @if (lightness($lsg--background-color) > lightness($lsg--color)) {
            color: $lsg--background-color;
          }
          @else {
            color: $lsg--color;
          }
        }
        @else {
          @if (lightness($lsg--background-color) > lightness($lsg--color)) {
            color: $lsg--color;
          }
          @else {
            color: $lsg--background-color;
          }
        }

        &::before {
          background-color: $value;
        }
      }

      &::after {
        @extend %lsg--code !optional;
        content: "#{inspect($value)}";
      }
    }
  }
}
