---
title: Official LivingStyleGuide Blog
---

%h1.blog--headline Blog
- page_articles.each do |article|
  %article.blog--item
    %h2.blog--item-title
      %a(href="#{article.url}")= article.title
    %time.blog--item-date= article.date.strftime("%b %e %Y")
    %a.blog--item-read-more(href="#{article.url}") Read more
