---
title: LivingStyleGuide Gem—easily create front-end style guides
root: true
---

%code.installation
  gem install livingstyleguide
.links
  %a.links--item.-github(href="https://github.com/hagenburger/livingstyleguide#readme") Documentation
  %a.links--item.-issues(href="https://github.com/hagenburger/livingstyleguide/issues") Open issues
  %a.links--item.-twitter(href="https://twitter.com/LSGorg") Follow for Updates
  %a.links--item.-example-project(href="https://github.com/hagenburger/livingstyleguide-example") Example Projects
