%footer.footer
  %a.footer--made-in-berlin(href="http://www.hagenburger.net/BLOG/Made-in-Berlin.html") Made in Berlin
  %a.footer--made-by-hagenburger(href="http://www.hagenburger.net") Nico Hagenburger
  %a.footer--contact(href="http://www.hagenburger.net/CONTACT.html") Contact
%script(src="http://code.jquery.com/jquery-2.1.3.min.js")
%script
  :plain
    var _paq = _paq || [];
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://nh.fornax.uberspace.de/piwik/";
      _paq.push(["setTrackerUrl", u+"piwik.php"]);
      _paq.push(["setSiteId", "2"]);
      var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
      g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
    })();
    $('a[href^="/"]').click(function(e) {
      e.preventDefault();
      var url = this.href;
      $('body')[url.match(/\/$/) ? 'removeClass' : 'addClass']('-subpage-');
      $('.layout--content').animate({ opacity: 0 });
      $.get(url).done(function(html) {
        $('.layout--content').replaceWith($(html).find('.layout--content'))
        history.pushState({}, $('title').text(), url);
      })
    })
